name: reusable Workflow
on: 
    workflow_call:
        inputs:
            artifact-name:
                default: dist
                description: Taking the artifact name
                type: string
                required: false

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Downloading artifact
              uses: actions/download-artifact@v4
              with:
                name: ${{inputs.artifact-name}}
            - name: List of files
              run: ls
            - name: output information
              run: echo "Reusable Workflow"
